 <ons-toolbar>
      <div class="left" style="line-height: 44px">
        <ons-back-button>Back</ons-back-button>
      </div>
      <div class="center">{{urgent.robot}}</div>
  </ons-toolbar>
 <ons-page ons-show="app.title = 'Page 4'">
    <div class="content" style="text-align: left;">
      <div class="mdl-grid">
        <div class="mdl-layout-spacer"></div>
          <div class="dosty">
            <div class="demo-card-wide mdl-shadow--2dp">
              <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                <tbody>
                  <tr>
                    <th class="mdl-data-table__cell--non-numeric">Allow location Detecion</th>
                    <th>
                      <label class="switch">
                        <input type="checkbox" class="switch__input">
                        <div class="switch__toggle">
                          <div class="switch__handle"></div>
                        </div>
                      </label>
                    </th>
                  </tr>
                
                  <tr>
                    <th class="mdl-data-table__cell--non-numeric">Allow push notification</th>
                    <th>
                      <label class="switch">
                        <input type="checkbox" class="switch__input">
                        <div class="switch__toggle">
                          <div class="switch__handle"></div>
                        </div>
                      </label>
                    </th>
                  </tr>
               
                  <tr>
                    <th class="mdl-data-table__cell--non-numeric">Allow auto update</th>
                    <th>
                      <label class="switch">
                        <input type="checkbox" class="switch__input">
                        <div class="switch__toggle">
                          <div class="switch__handle"></div>
                        </div>
                      </label>
                    </th>
                  </tr>

                  <tr>
                    <th class="mdl-data-table__cell--non-numeric">Allow location Detecion</th>
                    <th>
                      <label class="switch">
                        <input type="checkbox" class="switch__input">
                        <div class="switch__toggle">
                          <div class="switch__handle"></div>
                        </div>
                      </label>
                    </th>
                  </tr>

                   <tr>
                    <th class="mdl-data-table__cell--non-numeric">Enable Sound</th>
                    <th>
                      <label class="switch">
                        <input type="checkbox" class="switch__input">
                        <div class="switch__toggle">
                          <div class="switch__handle"></div>
                        </div>
                      </label>
                    </th>
                  </tr>

                  <tr>
                    <th class="mdl-data-table__cell--non-numeric">Enable Voice Chat</th>
                    <th>
                      <label class="switch">
                        <input type="checkbox" class="switch__input">
                        <div class="switch__toggle">
                          <div class="switch__handle"></div>
                        </div>
                      </label>
                    </th>
                  </tr>
                
                
                  <tr>
                    <th class="mdl-data-table__cell--non-numeric">Send feeback</th>
                    <th>
                     <!-- Colored raised button -->
                      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                        Send
                      </button>
                    </th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        
        <div class="mdl-card mdl-layout-spacer demo-card-wide mdl-shadow--2dp">
          <div class="">
            <div class="mdl-card__actions mdl-card--border">
              <div class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                Select robot
              </div>
            </div>
            <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header ">
                <main class="mdl-layout__content">    
                   <div class="mdl-grid">
                      <div class="mdl-cell mdl-cell--1-col"><img src="../images/bot.jpg" style="height: 20%; width: 30%;"></div>
                      <div class="mdl-cell mdl-cell--1-col graybox">2</div>
                      <div class="mdl-cell mdl-cell--1-col graybox">3</div>
                      <div class="mdl-cell mdl-cell--1-col graybox">4</div>
                      <div class="mdl-cell mdl-cell--1-col graybox">5</div>
                      <div class="mdl-cell mdl-cell--1-col graybox">6</div>
                      <div class="mdl-cell mdl-cell--1-col graybox">7</div>
                      <div class="mdl-cell mdl-cell--1-col graybox">8</div>
                   </div>
                </main>
            </div>
          </div>
        </div>
      </div>
  </ons-page>